<div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">


        <!--				<p class="text-center" ng-show="loading">
                            <span class="fa fa-spinner fa-spin fa-3x"></span>
                        </p>-->

    </div>
</div>

<!-- FORM TO CREATE TODOS -->
<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">

        <p><a class="btn btn-primary btn-lg" href="#question" role="button">Explicame &raquo;</a></p>

        <form>
            <div class="form-group">

                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input id="busqueda" type="text" class="form-control input-lg text-center" placeholder="Buscar preguntas" ng-change="searchQuestionByText()" ng-model="formData.searchText">

            </div>

        </form>
    </div>
</div>


<table class="table">

    <thead>
    <tr>
        <th>Peticiones</th>
        <th>Materia</th>
        <th>Accion</th>
    </tr>
    </thead>

    <tr class="success" ng-repeat="item in questions">
        <td>{{ item.Title }}</td>
        <td>{{ item.Subject }}</td>
        <td><a href="#explain/{{ item._id }}">Explicame</a></td>
    </tr>
</table>