<div id="todo-form" class="row">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
            <div class="form-group">

                <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                <input type="text" class="form-control input-lg text-center" placeholder="Ask Something" ng-model="formData.question">

                <div class="form-group">

                    <select class="form-control" ng-model="formData.subject" >
                        <option value="Matematicas">Matematicas</option>
                        <option value="Literatura">Literatura</option>
                        <option value="Arte">Arte</option>
                        <option value="Deporte">Deporte</option>

                    </select>

                </div>

            </div>

            <!-- createToDo() WILL CREATE NEW TODOS -->
            <button type="submit" class="btn btn-primary btn-lg" ng-click="createQuestion()">Add</button>
        </form>
    </div>
</div>